* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color_light: #f2f2f2;
	--color_dark: #333;
	--color_accent: #1971c2;
	--base_transition: 0.2s ease-in-out;
}

body {
	background-color: var(--color_light);
	color: var(--color_dark);
	font-family: sans-serif;
	padding: 1em;
}

h1 {
	line-height: 2;
}

.accordion {
	margin-right: auto;
	margin-left: auto;
}

.accordion_input {
	display: none;
}

.accordion_input:not(checked) ~ .accordion_label .accordion_content {
	display: none;
}

.accordion_input:checked ~ .accordion_label .accordion_content {
	display: flex;
}

.accordion_input:checked ~ .accordion_label .accordion_title {
	margin-bottom: 1em;
	color: var(--color_dark);
}

.accordion_input:checked ~ .accordion_label {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 314 314' fill='%23333333' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M55.1766 9.92179C42.6608 -2.594 22.4376 -2.594 9.92179 9.92179C-2.594 22.4376 -2.594 42.6608 9.92179 55.1766L111.745 157L9.92179 258.823C-2.594 271.339 -2.594 291.562 9.92179 304.078C22.4376 316.594 42.6608 316.594 55.1766 304.078L157 202.255L258.823 304.078C271.339 316.594 291.562 316.594 304.078 304.078C316.594 291.562 316.594 271.339 304.078 258.823L202.255 157L304.078 55.1766C316.594 42.6608 316.594 22.4376 304.078 9.92179C291.562 -2.594 271.339 -2.59401 258.823 9.92179L157 111.745L55.1766 9.92179Z' /%3E%3C/svg%3E%0A");
}

.accordion_label {
	background-color: var(--color_light);
	padding: 1em;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	border-top: 1px solid rgb(0 0 0 / 30%);
	background-repeat: no-repeat;
	background-size: 1em;
	background-position: right top 1.2em;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 416 416' fill='%23333333' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M240 32C240 14.3 225.7 0 208 0C190.3 0 176 14.3 176 32V176H32C14.3 176 0 190.3 0 208C0 225.7 14.3 240 32 240H176V384C176 401.7 190.3 416 208 416C225.7 416 240 401.7 240 384V240H384C401.7 240 416 225.7 416 208C416 190.3 401.7 176 384 176H240V32Z'/%3E%3C/svg%3E%0A");
}

.accordion_title {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.2;
	word-break: break-word;
	color: var(--color_accent);
}

.accordion_content {
	justify-content: center;
	align-items: center;
}

.accordion_img {
	display: block;
	width: 100%;
	/* max-width: 30rem; */
	max-width: 10rem;
}

@media (hover: hover) and (pointer: fine) {
	.accordion_label {
		background-position: right -10% top 1.2em;
	}

	.accordion:hover .accordion_label {
		background-position: right 0 top 1.2em;
		transition: background-position var(--base_transition);
	}

	.accordion:hover .accordion_title {
		color: var(--color_dark);
		transition: color var(--base_transition);
	}

	.accordion_item:hover .accordion_label .accordion_content {
		display: flex;
	}

	.accordion_item:hover .accordion_label .accordion_title {
		margin-bottom: 1em;
		color: var(--color_dark);
	}

	.accordion_item:hover .accordion_label {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 314 314' fill='%23333333' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M55.1766 9.92179C42.6608 -2.594 22.4376 -2.594 9.92179 9.92179C-2.594 22.4376 -2.594 42.6608 9.92179 55.1766L111.745 157L9.92179 258.823C-2.594 271.339 -2.594 291.562 9.92179 304.078C22.4376 316.594 42.6608 316.594 55.1766 304.078L157 202.255L258.823 304.078C271.339 316.594 291.562 316.594 304.078 304.078C316.594 291.562 316.594 271.339 304.078 258.823L202.255 157L304.078 55.1766C316.594 42.6608 316.594 22.4376 304.078 9.92179C291.562 -2.594 271.339 -2.59401 258.823 9.92179L157 111.745L55.1766 9.92179Z' /%3E%3C/svg%3E%0A");
	}
}
